body {
background: #202028;
color: #fff;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

 Das Spielfeld
canvas {
    border: solid 2px #fff;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.game-container {
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

h1 { margin-top: 0; }

